div(class="col-xs-6 col-sm-3 sidebar-offcanvas", id="sidebar")
    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") Owner
      div(class="panel-body")
        +nick("game.owner")
    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") Opponent
      div(class="panel-body")
        +nick("game.opponent")
    
    b {{ game.visitors.length }} visitors
      div(class="list-group")
        a(
          ng-if="isOwner()",
          ng-click="challengeUser(visitor, $index)",
          class="list-group-item",
          ng-repeat="visitor in game.visitors"
        )
          +nick("visitor")
        span(ng-if="!isOwner()", class="list-group-item", ng-repeat="visitor in game.visitors")
          +nick("visitor")