div(class="col-xs-6 col-sm-3 sidebar-offcanvas", id="sidebar")
    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") Owner
      div(class="panel-body")
        +nick("vm.game.owner")
    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") Opponent
      div(class="panel-body")
        +nick("vm.game.opponent")
      div(class="panel-body text-center", ng-if="vm.isOwner()")
        button(class="btn btn-primary", ng-click="vm.challengeUser(vm.game.owner)")
          span Play against local player

    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") {{ vm.game.visitors.length }} visitors

      div(class="list-group")
        a(
          ng-if="vm.isOwner()",
          ng-click="vm.challengeUser(visitor, $index)",
          class="list-group-item",
          ng-repeat="visitor in vm.game.visitors"
        )
          +nick("visitor")
        span(ng-if="!vm.isOwner()", class="list-group-item", ng-repeat="visitor in vm.game.visitors")
          +nick("visitor")
