doctype html
html(ng-app="continuum")
  head
    title Continuum

    link(rel="stylesheet", href="/components/bootstrap-css/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/xeditable.min.css")

    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-animate/angular-animate.min.js")
    script(src="/components/angular-route/angular-route.min.js")
    script(src="/components/angular-resource/angular-resource.min.js")
    script(src="/javascripts/continuumApp.js")
    script(src="/javascripts/continuum/helpers.js")
    script(src="/javascripts/continuum/enumvalues.js")
    script(src="/javascripts/controllers/ErrorController.js")
    script(src="/javascripts/controllers/GameUpdateController.js")
    script(src="/javascripts/controllers/StartController.js")
    script(src="/javascripts/controllers/LobbyController.js")
    script(src="/javascripts/controllers/PlayController.js")
    script(src="/javascripts/services/api/GameService.js")
    script(src="/javascripts/services/api/MoveService.js")
    script(src="/javascripts/services/api/UserService.js")
    script(src="/javascripts/services/UserUtilsService.js")
    script(src="/javascripts/xeditable.min.js")

  body
    div(ng-view)
