div(class="jumbotron text-center")
  h3 Games:
    span(class="label label-info") {{ games.length }}
  
  div(id="game-form", class="row")
    div(class="col-sm-8 col-sm-offset-2 text-center")
      form(id="main-form")
        div(class="form-group")
          input(type="text", class="form-control input-lg text-center", placeholder="Type in game id", ng-model="gameformData.publicId")
          button(class="btn btn-primary btn-lg", ng-click="createGame()") Create game
          button(class="btn btn-primary btn-lg", ng-click="joinGame()") Join game
  
  div(class="list-group")
    b {{ games.length }} games
      span(class="list-group-item", ng-repeat="game in games")
        span(aria-hidden="true") {{ game.publicId }}