body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  border-radius: 0;
}

.navbar img.logo {
  height: 20px;
}

.navbar-nav .alert-danger {
  display: block;
  float: right;
  line-height: 20px;
  max-width: 1000px;
  overflow: hidden;
  padding: 10px 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-nav .alert-danger .fa-exclamation-circle:before {
  padding-right: 10px;
}

a {
	color: #00B7FF;
}

.spaced {
	padding: 0 5px 0 5px;
}

.semi-transparent {
	opacity: 0.2;
}

#main-form button {
	margin: 10px;
	width: 45%;
}

#board .borderless {
	border: 0;
}

#board .ng-hide {
	display: inline!important;
	visibility: hidden;
}

#board .cell {
	background-color: #ffffff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}
